<h1>Link View Helper</h1>

<h2>Read only list</h2>

<%= basic_list @posts.map{|x| x.title} %>

<br /><br />


<h2>Basic linked list</h2>

<%= basic_list @posts.map{|x| link_to(x.title, post_path(x))} %>

<br /><br />

<h2>Nested List</h2>

<%= nested_list @posts.map{|x| link_to(x.title, post_path(x))} %>

<br /><br />

<%= link_to 'New Post', new_post_path %>
