<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "jquery-ui-1.8.9.custom", "jquery.mobile-1.0a3.min" %>
  <%= javascript_include_tag "jquery-1.5.min","jquery-ui-1.8.9.custom.min","rails", "jquery.mobile-1.0a3.min" %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div data-role="page">
	<div data-role="content">
      <%= yield %>
	</div>
  </div>
</body>
</html>
