
<p>navbar link</p>

<p>
<ul>
  <li>list view link options = 'data-icon' => 'gear','data-theme' => 'c', 'class' => 'ui-btn-active'</li>
  <li>button view link options = 'data-icon' => 'gear'</li>
  <li>toolbar view link options = 'data-icon' => 'home'</li>
</ul>
</p>

<p>
<ul>
  <li>div data-role="header" set with data-position="fixed" && data-backbtn="true"</li>
  <li>
    <ul>
      <li>toolbar link on the left side set with data-icon="gear", data-iconpos="notext"</li>
      <li>toolbar link on the right side set with data-theme="b", data-icon="check"</li>
      <li></li>
    </ul>
  </li>
</ul>
</p>


